/*********utilidades_variables********/
/*******************utilidades_variables*********************/
/*colors*/
/*spacings*/
/*font-sizes*/
/*base-reset*/
/************** base_reset.scss******************************/
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  html body {
    font-family: 'Roboto', sans-serif; }
    html body img {
      width: 100%; }
    html body a {
      text-decoration: none; }
    html body li {
      list-style-type: none; }

/*@ utilidades_funciones*/
/********************utilidades_funciones*********************/
/*layout*/
/***LAYUOT franjas****/
/*estilos divs franja color*/
.container__div1 {
  background-color: #eb5f07;
  height: 3.7rem;
  margin-bottom: 1rem; }

.container__div2 {
  background-color: #eb5f07;
  height: 2.3rem;
  margin-bottom: 1rem; }

.container__div3, .container__contacto .container__div3--contacto {
  background-color: #eb5f07;
  height: 1.5rem;
  margin-bottom: 1rem; }

/*franjas de textos article*/
.container__div4, .container__valores .container__div6 {
  background-color: #eb5f07;
  height: 1rem;
  margin-bottom: 1rem;
  width: 60%; }

/*section inicio__nosotros*/
.contaniner__inicio-nosotros, .container__nosotros--mision {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  flex-wrap: none;
  /*position de img inicio-nosotros */
  /*fondo article LAYUOT FONDO ROSA ARTICLE*/
  /*size h2 Nosotros*/ }
  .contaniner__inicio-nosotros img, .container__nosotros--mision img {
    position: relative;
    right: 6rem;
    z-index: 1; }
  .contaniner__inicio-nosotros .container__article, .container__nosotros--mision .container__article {
    display: flex;
    flex-direction: none;
    justify-content: none;
    align-items: none;
    flex-wrap: none;
    background-color: #fddddd;
    width: 130%;
    margin: 1rem 0 2rem 2rem;
    /*size p - estilos texto inicio-nosotros*/
    /*centrar texto inicio_nosotros*/ }
    .contaniner__inicio-nosotros .container__article p, .container__nosotros--mision .container__article p {
      text-align: justify;
      font-size: 2.8em;
      width: 60%; }
    .contaniner__inicio-nosotros .container__article .container__article-texto, .container__nosotros--mision .container__article .container__article-texto, .contaniner__inicio-nosotros .container__article .container__nosotros--mision .nosotros__article-misionvision, .container__nosotros--mision .container__article .nosotros__article-misionvision {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: none; }
  .contaniner__inicio-nosotros h2, .container__nosotros--mision h2, .contaniner__inicio-nosotros .container__valores h3, .container__valores .contaniner__inicio-nosotros h3, .container__nosotros--mision .container__valores h3, .container__valores .container__nosotros--mision h3, .contaniner__inicio-nosotros .container__valores .container__inicio-mision .container__mision p, .container__valores .container__inicio-mision .container__mision .contaniner__inicio-nosotros p, .container__nosotros--mision .container__valores .container__inicio-mision .container__mision p, .container__valores .container__inicio-mision .container__mision .container__nosotros--mision p, .contaniner__inicio-nosotros .container__inicio-mision .container__mision .container__valores p, .container__inicio-mision .container__mision .container__valores .contaniner__inicio-nosotros p, .container__nosotros--mision .container__inicio-mision .container__mision .container__valores p, .container__inicio-mision .container__mision .container__valores .container__nosotros--mision p {
    font-size: 6em;
    width: 60%; }

/**************HEADER**************/
/*color fondo nav, position*/
.navbar {
  background-color: #eb5f07;
  padding: 0px;
  position: fixed;
  z-index: 2;
  /* size fuente nav*/
  /*margenes contenedor logo prop clip-path da forma de punta al contenedor*/ }
  .navbar .navbar-nav {
    margin-left: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: none;
    flex-wrap: none;
    /*nav-link clase boostrap para dar estilos a los link de menu*/
    /*nav-link clase boostrap de cada link del menu*/ }
    .navbar .navbar-nav a {
      font-size: 2.8em;
      font-weight: bold;
      margin: 0rem 3.7rem 0rem 0rem; }
    .navbar .navbar-nav .nav-link {
      color: #000000; }
    .navbar .navbar-nav .nav-link:hover {
      color: white; }
    .navbar .navbar-nav .nav-link:active {
      color: rgba(0, 0, 0, 0.7); }
  .navbar .container {
    background-color: white;
    margin: 0px 0px 0px;
    width: 40%;
    justify-content: center;
    clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
    /*size contenedor img logo*/ }
    .navbar .container img {
      padding: 3.7rem;
      width: 65%; }

/**************FOOTER**************/
/*estilos footer*/
.footer__section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #eb5f07;
  /*size img footer*/
  /*flex container logo-copy*/
  /*container redes*/
  /*ancho de los div*/
  /*estilos contactanos boton ocupa ancho total de su div*/ }
  .footer__section img {
    width: 60%; }
  .footer__section .footer__container, .footer__section .footer__container-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: none;
    margin: 1rem 0 1rem 0; }
    .footer__section .footer__container .footer__container-logo, .footer__section .footer__container-button .footer__container-logo {
      margin-bottom: 1.5rem; }
    .footer__section .footer__container a, .footer__section .footer__container-button a {
      text-align: center; }
  .footer__section .footer__container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: none; }
    .footer__section .footer__container-2 .footer__container-redes {
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: none;
      /*size img mail-what*/
      /*contenedor del texto  mail-whatsapp centrar p*/ }
      .footer__section .footer__container-2 .footer__container-redes img {
        width: 3.7rem; }
      .footer__section .footer__container-2 .footer__container-redes .footer__container-mail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: none;
        width: 50%;
        /*size texto mail-what*/
        /*color textos mail-what*/ }
        .footer__section .footer__container-2 .footer__container-redes .footer__container-mail p {
          font-size: 2.8em;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
        .footer__section .footer__container-2 .footer__container-redes .footer__container-mail a {
          color: white;
          font-weight: 900; }
  .footer__section div {
    width: 33%; }
  .footer__section .footer__container-button {
    align-items: stretch;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*estilos tipo de letra boton*/ }
    .footer__section .footer__container-button button {
      font-size: 2.3em; }

/*contenedor general del header y del boton cerrar superior de la modal color footer modal*/
.modal__titulo-color {
  background-color: #feb89f;
  /* contenedor del p del header modal*/ }
  .modal__titulo-color .modal__titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: none;
    /* titulo de la modal*/ }
    .modal__titulo-color .modal__titulo p {
      color: #000000;
      text-align: center;
      font-size: 1.7em;
      position: relative;
      left: 20rem;
      font-weight: bold; }

/*clase en boton enviar del form de la modal footer*/
.boton__modal-footer {
  background-color: #eb5f07 !important;
  color: white !important; }

.boton__modal-footer:hover {
  background-color: white !important;
  color: #eb5f07 !important; }

/*clase contenedor body de la modal*/
.modal__cuerpo {
  background-color: #fddddd; }

/*vistas*/
/**main__seccion-inicio **/
.container__inicio, .container__nosotros, .container__proyectos, .container__servicios, .container__contacto {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  flex-wrap: none;
  /**contenedor imagen1**/
  /*estilos texto 1 pading para menu fixed*/ }
  .container__inicio .container__img1, .container__nosotros .container__img1, .container__proyectos .container__img1, .container__servicios .container__img1, .container__contacto .container__img1, .container__nosotros .container__nosotros--img1, .container__proyectos .container__nosotros--img1, .container__servicios .container__nosotros--img1, .container__contacto .container__nosotros--img1, .container__inicio .container__proyectos--img1, .container__nosotros .container__proyectos--img1, .container__proyectos .container__proyectos--img1, .container__servicios .container__proyectos--img1, .container__contacto .container__proyectos--img1, .container__servicios .container__servicios--img1, .container__contacto .container__servicios--img1, .container__contacto .container__contacto--img1 {
    max-width: 100%;
    background-image: url(../recursos/seccion_inicio/imagenes/seccion_inicio.jpg);
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 1;
    padding-top: 10rem; }
  .container__inicio h1, .container__nosotros h1, .container__proyectos h1, .container__servicios h1, .container__contacto h1 {
    font-weight: bold;
    font-size: 8em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: 10rem;
    padding: 10rem 0 10rem 0;
    text-shadow: -2px 2px 2px #000000; }

/*estilos contenedor general contenedores mision-vision-valores*/
.container__inicio-mision {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  flex-wrap: none;
  background-color: #eb5f07;
  margin: 0 0 2rem 0;
  /*estilos y espacios contenedores internos inicio-mision*/ }
  .container__inicio-mision .container__mision {
    margin: 2rem;
    /*h3 contenedores inicio-mision-calores*/
    /*p contenedores inicio-mision-calores*/
    /*estilos lineas mision-vision-valores*/ }
    .container__inicio-mision .container__mision h3, .container__inicio-mision .container__mision p {
      font-size: 2.8em;
      font-weight: 800;
      text-align: center;
      color: white; }
    .container__inicio-mision .container__mision p {
      font-size: 2.3em; }
    .container__inicio-mision .container__mision .container__div5 {
      background-color: white;
      height: 1rem;
      margin-bottom: 0.4rem; }

/*margin titulo del container__inicio-proyectos*/
.container__inicio-proyectos {
  margin-bottom: 1rem; }

/*estilos titulos enteros*/
.container__title {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  flex-wrap: none; }
  .container__title h2, .container__title .container__valores h3, .container__valores .container__title h3, .container__title .container__valores .container__inicio-mision .container__mision p, .container__valores .container__inicio-mision .container__mision .container__title p, .container__title .container__inicio-mision .container__mision .container__valores p, .container__inicio-mision .container__mision .container__valores .container__title p {
    font-size: 7em;
    color: #000000;
    text-align: center;
    font-weight: 900;
    margin: 3.7rem 0 2.3rem 0; }

/*clase boostrap lineas en parte inferior carousel*/
.carousel-indicators {
  z-index: 1; }

/*clase boostrap agrega imagenes al carousel*/
.carousel-item {
  /*titulos de imagenes carousel inicio*/ }
  .carousel-item .carousel__letra {
    font-size: 4em;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

/* estilos svg inicio-servicios*/
.container__inicio--servicios {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: none;
  flex-wrap: none;
  padding: 4rem;
  /*estilos generales img svg*/
  /*estilos h3 de svg inicio-servicios*/ }
  .container__inicio--servicios img {
    width: 60%;
    margin: 0 0 1rem 7rem; }
  .container__inicio--servicios h3, .container__inicio--servicios .container__inicio-mision .container__mision p, .container__inicio-mision .container__mision .container__inicio--servicios p {
    font-size: 2.8em;
    color: #eb5f07;
    font-weight: 600;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

/*main*/
/*contenedor imagen leyenda nosotros*/
.container__nosotros, .container__proyectos, .container__servicios, .container__contacto {
  /*imagen nosotros*/ }
  .container__nosotros .container__nosotros--img1, .container__proyectos .container__nosotros--img1, .container__servicios .container__nosotros--img1, .container__contacto .container__nosotros--img1 {
    background-image: url(../recursos/seccion_nosotros/imagenes/seccion_nosotros_1.jpg);
    justify-content: center;
    /*h1 nosotros*/ }
    .container__nosotros .container__nosotros--img1 h1, .container__proyectos .container__nosotros--img1 h1, .container__servicios .container__nosotros--img1 h1, .container__contacto .container__nosotros--img1 h1 {
      padding: 15rem 0 15rem 0; }

/*contenedor del article e img de nosotros mision y vision*/
.container__nosotros--mision {
  flex-direction: row-reverse;
  /*contenedor imagen mision vision*/
  /*estilos contenedor article mision y vision*/ }
  .container__nosotros--mision .nosotros__mision-vision {
    width: 100%;
    /*imagen mision y vision*/ }
    .container__nosotros--mision .nosotros__mision-vision img {
      position: relative;
      left: 6rem;
      z-index: 1; }
  .container__nosotros--mision .nosotros__article-misionvision {
    /*estilos titulos*/
    /*estilos parrafos*/ }
    .container__nosotros--mision .nosotros__article-misionvision h2, .container__nosotros--mision .nosotros__article-misionvision .container__valores h3, .container__valores .container__nosotros--mision .nosotros__article-misionvision h3, .container__nosotros--mision .nosotros__article-misionvision .container__valores .container__inicio-mision .container__mision p, .container__valores .container__inicio-mision .container__mision .container__nosotros--mision .nosotros__article-misionvision p, .container__nosotros--mision .nosotros__article-misionvision .container__inicio-mision .container__mision .container__valores p, .container__inicio-mision .container__mision .container__valores .container__nosotros--mision .nosotros__article-misionvision p {
      font-size: 3.5em;
      font-weight: 900;
      color: #eb5f07; }
    .container__nosotros--mision .nosotros__article-misionvision p {
      font-size: 2.3em; }

/*contenedor seccion nuestros valores*/
.container__valores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  background-color: #fddddd;
  padding: 4rem;
  margin: 1rem 1rem 2rem 1rem;
  /*titulo h2 nuestro valores*/
  /*pading top de h3 de svgs*/
  /*parrafo nuestros valores*/
  /*franja nuestros valores*/
  /*contenedor general svg nuestros valores*/ }
  .container__valores h2, .container__valores h3, .container__valores .container__inicio-mision .container__mision p, .container__inicio-mision .container__mision .container__valores p {
    font-size: 3.5em;
    font-weight: 900;
    color: #eb5f07;
    padding-bottom: 2rem;
    text-align: center; }
  .container__valores h3, .container__valores .container__inicio-mision .container__mision p, .container__inicio-mision .container__mision .container__valores p {
    padding-top: 2rem; }
  .container__valores p {
    font-size: 2.8em;
    font-weight: 500; }
  .container__valores .container__div6 {
    width: 100%; }
  .container__valores .section__svg-valores {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 12rem;
    /*contenedores de cada svg calidad, pasion, disciplina*/ }
    .container__valores .section__svg-valores .container__svg-valores {
      width: 80%; }

/*contenedor general section 1 proyectos*/
/*imagen contenedor proyectos scope global va extend con servicios*/
.container__proyectos--img1, .container__servicios .container__servicios--img1, .container__contacto .container__servicios--img1, .container__contacto .container__contacto--img1 {
  background-image: url(../recursos/seccion_proyectos/seccion_proyectos_1.jpg) !important;
  justify-content: center; }

/*seccion galeria proyectos*/
/*contenedor galeria1 general */
.proyectos__galeria {
  display: flex;
  padding: 8rem 5rem 8rem 5rem;
  column-gap: 3.7rem;
  /*clase tarjeta de boostrap*/
  /*clase bootsrap margin top boton ver galeria*/ }
  .proyectos__galeria .card {
    background-color: #eb5f07;
    /*parrafos contenedor */ }
    .proyectos__galeria .card p {
      font-size: 2.3em;
      font-weight: bold;
      color: #000000;
      text-align: center; }
  .proyectos__galeria .justify-content-md-center {
    margin-top: 2rem; }

/*estilos  grid subgaleria1 debe ser scope global*/
.proyectos__subgaleria, .proyectos__subgaleria-2, .servicios__galeria--grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 2rem; }
  .proyectos__subgaleria img, .proyectos__subgaleria-2 img, .servicios__galeria--grid img {
    object-fit: cover; }

/*contenedor subgaleria2 proyecots*/
.proyectos__subgaleria-2 {
  grid-template-rows: repeat(1, 1fr); }

/*estilos boton */
.btn__galeria {
  background-color: #eb5f07;
  /*texto boton*/ }
  .btn__galeria p {
    font-size: 1.7em;
    font-weight: 600;
    color: #000000; }

/*hover boton*/
.btn__galeria:hover p {
  color: #eb5f07;
  font-weight: bold; }

/*contenedor titulo modal de galeria*/
.titulo__modal-galeria {
  /*estilos titulo modal*/ }
  .titulo__modal-galeria h2, .titulo__modal-galeria .container__valores h3, .container__valores .titulo__modal-galeria h3, .titulo__modal-galeria .container__valores .container__inicio-mision .container__mision p, .container__valores .container__inicio-mision .container__mision .titulo__modal-galeria p, .titulo__modal-galeria .container__inicio-mision .container__mision .container__valores p, .container__inicio-mision .container__mision .container__valores .titulo__modal-galeria p {
    color: #eb5f07;
    font-size: 3.5em;
    font-weight: bold; }

/*contenedor de cada imegen de la submodal */
.proyectos__subgaleria--modal {
  border: solid #eb5f07 2px;
  border-radius: 0.5rem; }

/*contenedor de img  submodal imagen individual de galerias*/
.ventana__modal.active {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  height: 90vh;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  row-gap: 2rem;
  overflow-y: scroll; }

/*Contenedor general seccion1 servicios*/
.container__servicios, .container__contacto {
  /*contenedor img y h1*/ }
  .container__servicios .container__servicios--img1, .container__contacto .container__servicios--img1, .container__contacto .container__contacto--img1 {
    background-image: url(../recursos/seccion_servicios/seccion_serivicios_1.jpg) !important; }

/*seccion cards*/
/*contenedor grid cards*/
.servicios__galeria--grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin: 2rem;
  /*clase boostrap size img de card*/
  /*clase en las cards para acomodarlo en el grid*/ }
  .servicios__galeria--grid .card {
    background-color: #feb89f;
    /*size imgs de galeria*/
    /*parrafos contenedor */ }
    .servicios__galeria--grid .card img {
      height: 300px; }
    .servicios__galeria--grid .card p {
      font-size: 2em;
      font-weight: bold;
      color: #000000;
      text-align: center;
      padding: 2rem 0 2rem 0; }
  .servicios__galeria--grid .servicios__galeria--grid1:nth-of-type(7) {
    grid-column: 2/3; }

/*Contenedor general seccion1 contacto*/
.container__contacto {
  /*contenedor img y h1*/
  /*franjas div3 solo en la seccion de contactos*/ }
  .container__contacto .container__contacto--img1 {
    background-image: url(../recursos/seccion_contacto/seccion_contacto_1.jpg) !important; }
  .container__contacto .container__div3--contacto {
    margin-bottom: 0; }

/*Contenedor general mail-whatsapp contacto*/
.contacto__mail-whatsapp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  background-color: #feb89f;
  /*contenedor img y p mail*/
  /*estilos p correo y numero*/ }
  .contacto__mail-whatsapp .contacto__mail {
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: none;
    /*estilos, size img mail y whatsapp*/ }
    .contacto__mail-whatsapp .contacto__mail .contacto__mail-img {
      width: 12%; }
  .contacto__mail-whatsapp p {
    color: white;
    font-weight: 700;
    font-size: 2.8em;
    text-shadow: -2px 2px 2px #000000; }

/*contenedor form y text*/
.contacto__formulario-texto {
  background-color: #fddddd;
  /*seccion textos*/ }
  .contacto__formulario-texto .textos__formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: none;
    padding: 3.7rem 0 1rem 0; }
    .contacto__formulario-texto .textos__formulario h2, .contacto__formulario-texto .textos__formulario .container__valores h3, .container__valores .contacto__formulario-texto .textos__formulario h3, .contacto__formulario-texto .textos__formulario .container__valores .container__inicio-mision .container__mision p, .container__valores .container__inicio-mision .container__mision .contacto__formulario-texto .textos__formulario p, .contacto__formulario-texto .textos__formulario .container__inicio-mision .container__mision .container__valores p, .container__inicio-mision .container__mision .container__valores .contacto__formulario-texto .textos__formulario p {
      font-size: 6em;
      font-weight: bold; }
    .contacto__formulario-texto .textos__formulario p {
      font-size: 2.3em;
      font-weight: bold; }

/*seccion formulario**/
.formulario__boton {
  row-gap: 1rem;
  padding-bottom: 3.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  /*clases del imput*/
  /*calses boton imput*/ }
  .formulario__boton .imput, .formulario__boton .boton, .formulario__boton .boton__modal-footer {
    width: 50rem;
    font-size: 2em;
    text-align: center;
    border: solid 1px #eb5f07;
    color: #eb5f07;
    font-weight: bold;
    accent-color: #eb5f07; }
  .formulario__boton .boton, .formulario__boton .boton__modal-footer {
    background-color: white;
    width: 10rem; }
  .formulario__boton .boton:hover, .formulario__boton .boton__modal-footer:hover {
    background-color: #eb5f07;
    color: white; }

/*@ utilidades_mediaquieries*/
/***** @ mediaquieries*****/
/**** mobil_xsmall**/
@media screen and (min-width: 1px) and (max-width: 400px) {
  /*****header******/
  /*sacar pading de header*/
  .header {
    padding-bottom: 0; }
  /*dejar fijo navbar */
  .navbar {
    position: fixed;
    z-index: 2;
    /*size contenedor logo*/
    /*quitar borde iconolmenu*/
    /*quitar borde al dar clic en menu*/ }
    .navbar .container img {
      width: 100%;
      transform: scale(2.5); }
    .navbar .navbar-toggler {
      border: none; }
    .navbar .navbar-toggler:focus {
      box-shadow: none; }
    .navbar .navbar-nav {
      flex-direction: column;
      align-items: flex-start; }
      .navbar .navbar-nav a {
        font-size: 2em; }
  /******main******/
  /*parrafo 1 inicio-nosotros*/
  .container__img1 h1, .container__nosotros .container__nosotros--img1 h1, .container__proyectos .container__nosotros--img1 h1, .container__servicios .container__nosotros--img1 h1, .container__contacto .container__nosotros--img1 h1, .container__proyectos--img1 h1, .container__servicios .container__servicios--img1 h1, .container__contacto .container__servicios--img1 h1, .container__contacto .container__contacto--img1 h1 {
    padding: 2rem;
    margin: 0;
    font-size: 2.3em; }
  /*posicionar elementos inicio nosotros*/
  .contaniner__inicio-nosotros, .container__nosotros--mision {
    flex-direction: column-reverse;
    /*posicionar imagen 1 inicio nosotros*/
    /*dar ancho normal al contenedor inicio-nosotros*/ }
    .contaniner__inicio-nosotros img, .container__nosotros--mision img {
      right: 0; }
    .contaniner__inicio-nosotros .container__article, .container__nosotros--mision .container__article {
      width: 100%;
      margin-left: 0;
      /*estitlos de titulos h2*/
      /*size parrafos*/ }
      .contaniner__inicio-nosotros .container__article h2, .container__nosotros--mision .container__article h2, .contaniner__inicio-nosotros .container__article .container__valores h3, .container__valores .contaniner__inicio-nosotros .container__article h3, .container__nosotros--mision .container__article .container__valores h3, .container__valores .container__nosotros--mision .container__article h3, .contaniner__inicio-nosotros .container__article .container__valores .container__inicio-mision .container__mision p, .container__valores .container__inicio-mision .container__mision .contaniner__inicio-nosotros .container__article p, .container__nosotros--mision .container__article .container__valores .container__inicio-mision .container__mision p, .container__valores .container__inicio-mision .container__mision .container__nosotros--mision .container__article p, .contaniner__inicio-nosotros .container__article .container__inicio-mision .container__mision .container__valores p, .container__inicio-mision .container__mision .container__valores .contaniner__inicio-nosotros .container__article p, .container__nosotros--mision .container__article .container__inicio-mision .container__mision .container__valores p, .container__inicio-mision .container__mision .container__valores .container__nosotros--mision .container__article p {
        width: 80%;
        font-size: 4em;
        text-align: center;
        padding: 2rem 0 2rem 0; }
      .contaniner__inicio-nosotros .container__article p, .container__nosotros--mision .container__article p {
        font-size: 2.3em;
        padding: 2rem 0 2rem 0; }
  /*posicionar elementos mision vision valores*/
  .container__inicio-mision {
    flex-direction: column; }
  /*posicionar elemntos inicio-servicios*/
  .container__inicio--servicios {
    flex-direction: column;
    row-gap: 2.3rem; }
  /*titulos grandes proyectos-servicios de inicio*/
  .container__title {
    /*size de los h2*/ }
    .container__title h2, .container__title .container__valores h3, .container__valores .container__title h3, .container__title .container__valores .container__inicio-mision .container__mision p, .container__valores .container__inicio-mision .container__mision .container__title p, .container__title .container__inicio-mision .container__mision .container__valores p, .container__inicio-mision .container__mision .container__valores .container__title p {
      font-size: 6em; }
  /**SECCION-NOSOTROS**/
  /*contenedor del h1 nosotros*/
  .container__nosotros--img1 h1 {
    padding: 6rem 0 6rem 0 !important; }
  /*contenedor imagen mision vision*/
  .nosotros__mision-vision {
    /*imagen mision y vision*/ }
    .nosotros__mision-vision img {
      left: 0rem !important; }
  /*contenedor general svg nuestros valores*/
  .section__svg-valores {
    flex-direction: column; }
  /*SECCION PROYECTOS**/
  /*contenedor h1 proyectos */
  .container__proyectos--img1, .container__servicios .container__servicios--img1, .container__contacto .container__servicios--img1, .container__contacto .container__contacto--img1 {
    padding: 0 0 4rem 0; }
  /*contenedor general de cards que contienen galerias*/
  .proyectos__galeria {
    flex-direction: column;
    padding: 2rem;
    /*boton ver galeria*/
    /*clase de subgaleria1 y 3*/
    /*clase de subgaleria2*/ }
    .proyectos__galeria .btn__galeria {
      margin-bottom: 5rem; }
    .proyectos__galeria .proyectos__subgaleria, .proyectos__galeria .proyectos__subgaleria-2, .proyectos__galeria .servicios__galeria--grid {
      display: flex;
      flex-direction: column; }
    .proyectos__galeria .proyectos__subgaleria-2 {
      display: flex;
      flex-direction: column; }
  /*SECCION SERVICIOS*/
  /*seccion img1 h1 servicios*/
  .container__servicios--img1, .container__contacto .container__contacto--img1 {
    /*h1 servicios*/ }
    .container__servicios--img1 h1, .container__contacto .container__contacto--img1 h1 {
      padding: 15rem 0 3.7rem 0 !important; }
  /*seccion cards servicios*/
  /*contenedor grid cards*/
  .servicios__galeria--grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: none; }
  /******footer****/
  /*orientacion del footer*/
  .footer__section {
    flex-direction: column-reverse;
    /*ancho del logo*/
    /*reducir letra del boton contactanos*/ }
    .footer__section img {
      width: 100%; }
    .footer__section .footer__container-redes {
      align-items: flex-start !important;
      /*size textos mail-what*/ }
      .footer__section .footer__container-redes .footer__container-mail p {
        font-size: 2em !important; }
    .footer__section .footer__container-button {
      /*boton contactanos*/ }
      .footer__section .footer__container-button button {
        font-size: 1.7em; }
  /**SECCION-CONTACTO**/
  /***main***/
  /*contenedores generales mail whatsapp textos*/
  .contacto__mail-whatsapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: none;
    /*textos de email y numero tel*/ }
    .contacto__mail-whatsapp p {
      font-size: 2.3em; }
  /*contenedor de textos del formulario*/
  .textos__formulario h2, .textos__formulario .container__valores h3, .container__valores .textos__formulario h3, .textos__formulario .container__valores .container__inicio-mision .container__mision p, .container__valores .container__inicio-mision .container__mision .textos__formulario p, .textos__formulario .container__inicio-mision .container__mision .container__valores p, .container__inicio-mision .container__mision .container__valores .textos__formulario p {
    font-size: 4rem !important;
    text-align: center; }
  .textos__formulario p {
    text-align: center; }
  /*reducir ancho de imputs*/
  .imput, .formulario__boton .boton, .formulario__boton .boton__modal-footer {
    width: 30rem !important; }
  .boton, .boton__modal-footer {
    background-color: #eb5f07 !important;
    color: white !important; }
  /**footer***/
  .modal__titulo-color .modal__titulo p {
    position: relative;
    left: 0; } }

/*mobil small*/
@media screen and (min-width: 401px) and (max-width: 576px) {
  /*****header******/
  /*sacar pading de header*/
  .header {
    padding-bottom: 0; }
  /*dejar fijo navbar */
  .navbar {
    position: fixed;
    z-index: 2;
    /*size contenedor logo*/
    /*quitar borde iconolmenu*/
    /*quitar borde al dar clic en menu*/ }
    .navbar .container img {
      width: 19rem; }
    .navbar .navbar-toggler {
      border: none; }
    .navbar .navbar-toggler:focus {
      box-shadow: none; }
    .navbar .navbar-nav {
      flex-direction: column;
      align-items: flex-start; }
      .navbar .navbar-nav a {
        font-size: 2em; }
  /******main******/
  /*parrafo 1 inicio-nosotros*/
  .container__img1 h1, .container__nosotros .container__nosotros--img1 h1, .container__proyectos .container__nosotros--img1 h1, .container__servicios .container__nosotros--img1 h1, .container__contacto .container__nosotros--img1 h1, .container__proyectos--img1 h1, .container__servicios .container__servicios--img1 h1, .container__contacto .container__servicios--img1 h1, .container__contacto .container__contacto--img1 h1 {
    padding: 6rem 2rem 2rem 2rem;
    margin: 0;
    font-size: 3.5em; }
  /*posicionar elementos inicio nosotros*/
  .contaniner__inicio-nosotros, .container__nosotros--mision {
    flex-direction: column-reverse;
    /*posicionar imagen 1 inicio nosotros*/
    /*dar ancho normal al contenedor inicio-nosotros*/ }
    .contaniner__inicio-nosotros img, .container__nosotros--mision img {
      right: 0; }
    .contaniner__inicio-nosotros .container__article, .container__nosotros--mision .container__article {
      width: 100%;
      margin-left: 0;
      /*estitlos de titulos h2*/
      /*size parrafos*/ }
      .contaniner__inicio-nosotros .container__article h2, .container__nosotros--mision .container__article h2, .contaniner__inicio-nosotros .container__article .container__valores h3, .container__valores .contaniner__inicio-nosotros .container__article h3, .container__nosotros--mision .container__article .container__valores h3, .container__valores .container__nosotros--mision .container__article h3, .contaniner__inicio-nosotros .container__article .container__valores .container__inicio-mision .container__mision p, .container__valores .container__inicio-mision .container__mision .contaniner__inicio-nosotros .container__article p, .container__nosotros--mision .container__article .container__valores .container__inicio-mision .container__mision p, .container__valores .container__inicio-mision .container__mision .container__nosotros--mision .container__article p, .contaniner__inicio-nosotros .container__article .container__inicio-mision .container__mision .container__valores p, .container__inicio-mision .container__mision .container__valores .contaniner__inicio-nosotros .container__article p, .container__nosotros--mision .container__article .container__inicio-mision .container__mision .container__valores p, .container__inicio-mision .container__mision .container__valores .container__nosotros--mision .container__article p {
        width: 80%;
        font-size: 4em;
        text-align: center;
        padding: 2rem 0 2rem 0; }
      .contaniner__inicio-nosotros .container__article p, .container__nosotros--mision .container__article p {
        font-size: 2.3em;
        padding: 2rem 0 2rem 0; }
  /*posicionar elementos mision vision valores*/
  .container__inicio-mision {
    flex-direction: column; }
  /*posicionar elemntos inicio-servicios*/
  .container__inicio--servicios {
    flex-direction: column;
    row-gap: 2.3rem; }
  /**SECCION-NOSOTROS**/
  /*contenedor del h1 nosotros*/
  .container__nosotros--img1 h1 {
    padding: 10rem 0 10rem 0 !important; }
  /*contenedor imagen mision vision*/
  .nosotros__mision-vision {
    /*imagen mision y vision*/ }
    .nosotros__mision-vision img {
      left: 0rem !important; }
  /*contenedor general svg nuestros valores*/
  .section__svg-valores {
    flex-direction: column; }
  /*SECCION PROYECTOS**/
  /*contenedor h1 proyectos */
  .container__proyectos--img1, .container__servicios .container__servicios--img1, .container__contacto .container__servicios--img1, .container__contacto .container__contacto--img1 {
    padding: 0 0 4rem 0; }
  /*contenedor galeria general de cards que contienen galerias*/
  .proyectos__galeria {
    flex-direction: column;
    padding: 2rem;
    /*boton ver galeria*/
    /*clase de subgaleria1 y 3*/
    /*clase de subgaleria2*/ }
    .proyectos__galeria .btn__galeria {
      margin-bottom: 5rem; }
    .proyectos__galeria .proyectos__subgaleria, .proyectos__galeria .proyectos__subgaleria-2, .proyectos__galeria .servicios__galeria--grid {
      display: flex;
      flex-direction: column; }
    .proyectos__galeria .proyectos__subgaleria-2 {
      display: flex;
      flex-direction: column; }
  /*SECCION SERVICIOS*/
  /*seccion img1 h1 servicios*/
  .container__servicios--img1, .container__contacto .container__contacto--img1 {
    /*h1 servicios*/ }
    .container__servicios--img1 h1, .container__contacto .container__contacto--img1 h1 {
      padding: 19rem 0 3.7rem 0 !important; }
  /*seccion cards servicios*/
  /*contenedor grid cards*/
  .servicios__galeria--grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: none; }
  /**SECCION-CONTACTO**/
  /***main***/
  /*contenedores generales mail whatsapp textos*/
  .contacto__mail-whatsapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: none;
    /*textos de email y numero tel*/ }
    .contacto__mail-whatsapp p {
      font-size: 2.3em; }
  /*contenedor de textos del formulario*/
  .textos__formulario h2, .textos__formulario .container__valores h3, .container__valores .textos__formulario h3, .textos__formulario .container__valores .container__inicio-mision .container__mision p, .container__valores .container__inicio-mision .container__mision .textos__formulario p, .textos__formulario .container__inicio-mision .container__mision .container__valores p, .container__inicio-mision .container__mision .container__valores .textos__formulario p {
    font-size: 4rem !important;
    text-align: center; }
  .textos__formulario p {
    text-align: center; }
  /*reducir ancho de imputs*/
  .imput, .formulario__boton .boton, .formulario__boton .boton__modal-footer {
    width: 37rem !important; }
  .boton, .boton__modal-footer {
    background-color: #eb5f07 !important;
    color: white !important; }
  /******footer****/
  /*orientacion del footer*/
  .footer__section {
    flex-direction: column-reverse;
    row-gap: 1.5rem;
    /*ancho del logo*/
    /*reducir letra del boton contactanos*/ }
    .footer__section img {
      width: 100%; }
    .footer__section .footer__container-redes {
      align-items: flex-start !important;
      /*size textos mail-what*/ }
      .footer__section .footer__container-redes .footer__container-mail p {
        font-size: 2em !important; }
    .footer__section .footer__container-button {
      /*boton contactanos*/ }
      .footer__section .footer__container-button button {
        font-size: 1.7em; }
  /**footer***/
  .modal__titulo-color .modal__titulo p {
    position: relative;
    left: 4rem; } }

/****mobil medium****/
@media screen and (min-width: 577px) and (max-width: 768px) {
  /*****header******/
  /*sacar pading de header*/
  .header {
    padding-bottom: 0; }
  /*dejar fijo navbar */
  .navbar {
    position: fixed;
    z-index: 2;
    /*size contenedor logo*/
    /*quitar borde iconolmenu*/
    /*quitar borde al dar clic en menu*/ }
    .navbar .container img {
      width: 100%; }
    .navbar .navbar-toggler {
      border: none; }
    .navbar .navbar-toggler:focus {
      box-shadow: none; }
    .navbar .navbar-nav {
      flex-direction: column;
      align-items: flex-start; }
      .navbar .navbar-nav a {
        font-size: 2em; }
  /******main******/
  /*parrafo 1 inicio-nosotros*/
  .container__img1 h1, .container__nosotros .container__nosotros--img1 h1, .container__proyectos .container__nosotros--img1 h1, .container__servicios .container__nosotros--img1 h1, .container__contacto .container__nosotros--img1 h1, .container__proyectos--img1 h1, .container__servicios .container__servicios--img1 h1, .container__contacto .container__servicios--img1 h1, .container__contacto .container__contacto--img1 h1 {
    padding: 10rem 7rem 4rem 7rem;
    margin: 0;
    font-size: 3.5em; }
  /*posicionar elementos inicio nosotros*/
  .contaniner__inicio-nosotros, .container__nosotros--mision {
    flex-direction: column-reverse;
    /*posicionar imagen 1 inicio nosotros*/
    /*dar ancho normal al contenedor inicio-nosotros*/ }
    .contaniner__inicio-nosotros img, .container__nosotros--mision img {
      right: 0; }
    .contaniner__inicio-nosotros .container__article, .container__nosotros--mision .container__article {
      width: 100%;
      margin-left: 0;
      /*estitlos de titulos h2*/
      /*size parrafos*/ }
      .contaniner__inicio-nosotros .container__article h2, .container__nosotros--mision .container__article h2, .contaniner__inicio-nosotros .container__article .container__valores h3, .container__valores .contaniner__inicio-nosotros .container__article h3, .container__nosotros--mision .container__article .container__valores h3, .container__valores .container__nosotros--mision .container__article h3, .contaniner__inicio-nosotros .container__article .container__valores .container__inicio-mision .container__mision p, .container__valores .container__inicio-mision .container__mision .contaniner__inicio-nosotros .container__article p, .container__nosotros--mision .container__article .container__valores .container__inicio-mision .container__mision p, .container__valores .container__inicio-mision .container__mision .container__nosotros--mision .container__article p, .contaniner__inicio-nosotros .container__article .container__inicio-mision .container__mision .container__valores p, .container__inicio-mision .container__mision .container__valores .contaniner__inicio-nosotros .container__article p, .container__nosotros--mision .container__article .container__inicio-mision .container__mision .container__valores p, .container__inicio-mision .container__mision .container__valores .container__nosotros--mision .container__article p {
        width: 80%;
        font-size: 4em;
        text-align: center;
        padding: 2rem 0 2rem 0; }
      .contaniner__inicio-nosotros .container__article p, .container__nosotros--mision .container__article p {
        font-size: 2.3em;
        padding: 2rem 0 2rem 0; }
  /*posicionar elementos mision vision valores*/
  .container__inicio-mision {
    flex-direction: column; }
  /*posicionar elemntos inicio-servicios*/
  .container__inicio--servicios {
    flex-direction: column;
    row-gap: 6rem; }
    .container__inicio--servicios h3, .container__inicio--servicios .container__inicio-mision .container__mision p, .container__inicio-mision .container__mision .container__inicio--servicios p {
      font-size: 4em; }
  /**SECCION-NOSOTROS**/
  /*contenedor del h1 nosotros*/
  .container__nosotros--img1 h1 {
    padding: 10rem 0 10rem 0 !important; }
  /*contenedor imagen mision vision*/
  .nosotros__mision-vision {
    /*imagen mision y vision*/ }
    .nosotros__mision-vision img {
      left: 0rem !important; }
  /*contenedor general svg nuestros valores*/
  .section__svg-valores {
    flex-direction: column; }
  /*SECCION PROYECTOS*/
  /*contenedor general de cards que contienen galerias*/
  .proyectos__galeria {
    flex-direction: column;
    padding: 3.7rem;
    /*boton ver galeria*/
    /*clase de subgaleria1 y 3*/
    /*clase de subgaleria2*/ }
    .proyectos__galeria .btn__galeria {
      margin-bottom: 5rem; }
    .proyectos__galeria .proyectos__subgaleria, .proyectos__galeria .proyectos__subgaleria-2, .proyectos__galeria .servicios__galeria--grid {
      display: flex;
      flex-direction: column; }
    .proyectos__galeria .proyectos__subgaleria-2 {
      display: flex;
      flex-direction: column; }
  /*SECCION SERVICIOS*/
  /*seccion img1 h1 servicios*/
  .container__servicios--img1, .container__contacto .container__contacto--img1 {
    /*h1 servicios*/ }
    .container__servicios--img1 h1, .container__contacto .container__contacto--img1 h1 {
      padding: 15rem 0 10rem 0 !important; }
  /*contenedor grid cards*/
  .servicios__galeria--grid {
    grid-template-columns: repeat(2, 1fr);
    /*clase en las cards para acomodarlo en el grid*/ }
    .servicios__galeria--grid .servicios__galeria--grid1:nth-of-type(7) {
      grid-column: 1/3; }
  /***SECCION CONTACTO***/
  /*contenedor de textos del formulario*/
  .textos__formulario h2, .textos__formulario .container__valores h3, .container__valores .textos__formulario h3, .textos__formulario .container__valores .container__inicio-mision .container__mision p, .container__valores .container__inicio-mision .container__mision .textos__formulario p, .textos__formulario .container__inicio-mision .container__mision .container__valores p, .container__inicio-mision .container__mision .container__valores .textos__formulario p {
    text-align: center; }
  .textos__formulario p {
    text-align: center; }
  /******footer****/
  /*orientacion del footer*/
  .footer__section {
    flex-direction: column-reverse;
    row-gap: 1.5rem;
    /*ancho del logo*/
    /*reducir letra del boton contactanos*/ }
    .footer__section img {
      width: 100%; }
    .footer__section .footer__container-redes {
      align-items: flex-start !important;
      /*size textos mail-what*/ }
      .footer__section .footer__container-redes .footer__container-mail p {
        font-size: 2.8em !important; }
    .footer__section .footer__container-button {
      /*boton contactanos*/ }
      .footer__section .footer__container-button button {
        font-size: 2.8em; }
  /*reducir ancho de imputs*/
  .imput, .formulario__boton .boton, .formulario__boton .boton__modal-footer {
    width: 37rem !important; }
  /**modal formulario boton contactanos***/
  .modal__titulo-color .modal__titulo p {
    position: relative;
    left: 4rem; } }

@media screen and (min-width: 769px) and (max-width: 991px) {
  /***header***/
  /*sacar pading de header*/
  .header {
    padding-bottom: 0; }
  /*quitar borde iconolmenu*/
  .navbar-toggler {
    border: none; }
  /*quitar borde al dar clic en menu*/
  .navbar-toggler:focus {
    box-shadow: none; }
  /*posicionar elemntos inicio-servicios*/
  .container__inicio--servicios {
    flex-direction: column;
    row-gap: 6rem;
    margin-left: 10rem;
    /*size h3*/ }
    .container__inicio--servicios h3, .container__inicio--servicios .container__inicio-mision .container__mision p, .container__inicio-mision .container__mision .container__inicio--servicios p {
      font-size: 4em; }
    .container__inicio--servicios img {
      width: 50%;
      margin-left: 20rem; }
  /**main**/
  /*posicionar elementos inicio nosotros*/
  .contaniner__inicio-nosotros, .container__nosotros--mision {
    flex-direction: column-reverse;
    /*posicionar imagen 1 inicio nosotros*/
    /*dar ancho normal al contenedor inicio-nosotros*/ }
    .contaniner__inicio-nosotros img, .container__nosotros--mision img {
      right: 0; }
    .contaniner__inicio-nosotros .container__article, .container__nosotros--mision .container__article {
      width: 100%;
      margin-left: 0;
      /*estitlos de titulos h2*/
      /*size parrafos*/ }
      .contaniner__inicio-nosotros .container__article h2, .container__nosotros--mision .container__article h2, .contaniner__inicio-nosotros .container__article .container__valores h3, .container__valores .contaniner__inicio-nosotros .container__article h3, .container__nosotros--mision .container__article .container__valores h3, .container__valores .container__nosotros--mision .container__article h3, .contaniner__inicio-nosotros .container__article .container__valores .container__inicio-mision .container__mision p, .container__valores .container__inicio-mision .container__mision .contaniner__inicio-nosotros .container__article p, .container__nosotros--mision .container__article .container__valores .container__inicio-mision .container__mision p, .container__valores .container__inicio-mision .container__mision .container__nosotros--mision .container__article p, .contaniner__inicio-nosotros .container__article .container__inicio-mision .container__mision .container__valores p, .container__inicio-mision .container__mision .container__valores .contaniner__inicio-nosotros .container__article p, .container__nosotros--mision .container__article .container__inicio-mision .container__mision .container__valores p, .container__inicio-mision .container__mision .container__valores .container__nosotros--mision .container__article p {
        width: 80%;
        font-size: 4em;
        text-align: center;
        padding: 2rem 0 2rem 0; }
      .contaniner__inicio-nosotros .container__article p, .container__nosotros--mision .container__article p {
        font-size: 2.3em;
        padding: 2rem 0 2rem 0; }
  /**SECCION-NOSOTROS**/
  /*contenedor del h1 nosotros*/
  .container__nosotros--img1 h1 {
    padding: 10rem 0 10rem 0 !important; }
  /*contenedor imagen mision vision*/
  .nosotros__mision-vision {
    /*imagen mision y vision*/ }
    .nosotros__mision-vision img {
      left: 0rem !important; }
  /******footer****/
  /*orientacion del footer*/
  .footer__section {
    flex-direction: column-reverse;
    row-gap: 1.5rem;
    /*ancho del logo*/ }
    .footer__section img {
      width: 100%; }
    .footer__section .footer__container-redes {
      align-items: flex-start !important;
      /*size textos mail-what*/ }
      .footer__section .footer__container-redes .footer__container-mail p {
        font-size: 2.8em !important; } }

/**desktop_small**/
@media screen and (min-width: 992px) and (max-width: 1200px) {
  /**header**/
  /*clase header*/
  .header {
    /* size fuente nav a*/
    /*contenedor img logo*/ }
    .header .navbar-nav a {
      margin: 0rem 1.5rem 0rem 0rem; }
    .header .container {
      /*logo img*/ }
      .header .container img {
        width: 23rem; }
  /***main**/
  /*espacio interno contenedor color-rosa*/
  .container__article-texto, .container__nosotros--mision .nosotros__article-misionvision {
    margin: 4rem 0 4rem 0; } }

/*desktop */
@media screen and (min-width: 1201px) {
  /***main**/
  /*espacio interno contenedor color-rosa*/
  .container__article-texto, .container__nosotros--mision .nosotros__article-misionvision {
    margin: 4rem 0 4rem 0; } }
