/*main*/

/*contenedor imagen leyenda nosotros*/
.container__nosotros {
    @extend .container__inicio;

    .container__nosotros--img1 {
        @extend .container__img1;
        justify-content: center;
        

        h1 {
            padding: $space-xxxlarge 0 $space-xxxlarge 0;
        }
    }
}

/*contenedor del article e img de nosotros mision y vision*/
.container__nosotros--mision {
    @extend .contaniner__inicio-nosotros;
    flex-direction: row-reverse;

    /*contenedor imagen mision vision*/
    .nosotros__mision-vision {
        width: 100%;

        /*imagen mision y vision*/
        img {
            position: relative;
            left: $space-large;
            z-index: 1;
        }
    }

    /*estilos contenedor article mision y vision*/
    .nosotros__article-misionvision {
        @extend .container__article-texto;

        /*estilos titulos*/
        h2 {
            font-size: $text-xmedium;
            font-weight: 900;
            color: $col-primary;
        }

        /*estilos parrafos*/
        p {
            font-size: $text-sbase;
        }
    }
}

/*contenedor seccion nuestros valores*/
.container__valores {
    @include flex1(column, center, center, none);
    background-color: $col-alternate1;
    padding: $space-margin-article;
    margin: $space-xsmall $space-xsmall $space-small $space-xsmall;

    /*titulo h2 nuestro valores*/
    h2 {
        font-size: $text-xmedium;
        font-weight: 900;
        color: $col-primary;
        padding-bottom: $space-small;
        text-align: center;
    }

    /*pading top de h3 de svgs*/
    h3{
        @extend h2;
        padding-top: $space-small;
    }

    /*parrafo nuestros valores*/
    p{
        font-size: $text-base;
        font-weight: 500;
    }

    /*franja nuestros valores*/
    .container__div6 {
        @extend .container__div4;
        width: 100%;
    }

    /*contenedor general svg nuestros valores*/
    .section__svg-valores{
        @include flex();
        flex-wrap: wrap;
        align-items:center;
        column-gap: 12rem;

        /*contenedores de cada svg calidad, pasion, disciplina*/
        .container__svg-valores{
            width: 80%;
        }
    }
}