/*contenedor general section 1 proyectos*/
.container__proyectos {
    @extend .container__nosotros;

}

/*imagen contenedor proyectos scope global va extend con servicios*/
.container__proyectos--img1 {
    @extend .container__img1;
    background-image: url(../recursos/seccion_proyectos/seccion_proyectos_1.jpg) !important; //important container__inicio
    justify-content: center;
}

/*seccion galeria proyectos*/

/*contenedor galeria1 general */
.proyectos__galeria {
    @include flex;
    padding: $space-padig-gallery1 $space-padig-gallery $space-padig-gallery1 $space-padig-gallery;
    column-gap: $space-medium;

    /*clase tarjeta de boostrap*/
    .card {
        background-color: $col-primary;

        /*parrafos contenedor */
        p {
            font-size: $text-sbase ;
            font-weight: bold;
            color: $col-alternate;
            text-align: center;
        }
    }

    /*clase bootsrap margin top boton ver galeria*/
    .justify-content-md-center {
        margin-top: $space-small;
    }
}



/*estilos  grid subgaleria1 debe ser scope global*/
.proyectos__subgaleria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    column-gap: $space-small;
    row-gap: $space-small;
    padding: $space-small;

    img {
        object-fit: cover;
    }
}

/*contenedor subgaleria2 proyecots*/
.proyectos__subgaleria-2 {
    @extend .proyectos__subgaleria;
    grid-template-rows: repeat(1, 1fr);
}

/*estilos boton */
.btn__galeria {
    background-color: $col-primary ;

    /*texto boton*/
    p {
        font-size: $text-small-button;
        font-weight: 600;
        color: $col-alternate;
    }
}

/*hover boton*/
.btn__galeria:hover {

    p {
        color: $col-primary;
        font-weight: bold;
    }

}

/*contenedor titulo modal de galeria*/
.titulo__modal-galeria {

    /*estilos titulo modal*/
    h2 {
        color: $col-primary;
        font-size: $text-xmedium;
        font-weight: bold;
    }

}

/*modal de cada imagen al hacer clic seccion proyectos */
.modal__app {
    @include flex1(column, center, center, none); //nota: revisar indentacion esta es clase padre/////
}

/*contenedor de cada imegen de la modal de las galerias*/
.proyectos__subgaleria--modal {
    border: solid $col-primary 1px;
    border-radius: 5px;

}

/*contenedor de img y button de ventada modal de galerias MODAL1*/
.ventana__modal{
    display: inline-block;
    position: relative;
}

.ventana__modal.active {
    position: fixed;
    background-color: $col-alternate-modal;
    height: 90vh;
    // width: 80%;
    border-radius: 5px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    row-gap:2rem ;
    // transition: .5;
    overflow-y: scroll;
    

    /*clase de img en boton cerrar estilos de cada img de galeria*/
    

}

// .ventana__modal.active::after{
//     content: '';
//     position: fixed;
// }


/*modal 2  */
//https://www.youtube.com/watch?v=WYhEv8STTww  

/*clase en cada div de cada img de la galeria sin active*/
//no afecta la posicion de los demas elemantos cuando tenga active
.container__modal{
    display: inline-block;
    position: relative;

}

/*se agrega active*/
.container__modal.active{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $col-alternate-modal;
    top: 0;
    left: 0;
    overflow-y: scroll;

    /*tamaño img dentro de modal*/
    img{
      width:  70%; 
    }
    
}

.container__modal.active::after{
    content: '';
    position: fixed;
}
