/*contenedor general section 1 proyectos*/
.container__proyectos {
    @extend .container__nosotros;

}

/*imagen contenedor proyectos scope global va extend con servicios*/
.container__proyectos--img1 {
    @extend .container__img1;
    background-image: url(../recursos/seccion_proyectos/seccion_proyectos_1.jpg) !important; //important container__inicio
    justify-content: center;
}

/*seccion galeria proyectos*/

/*contenedor galeria1 general */
.proyectos__galeria {
    @include flex;
    padding: $space-padig-gallery1 $space-padig-gallery $space-padig-gallery1 $space-padig-gallery;
    column-gap: $space-medium;

    /*clase tarjeta de boostrap*/
    .card {
        background-color: $col-primary;

        /*parrafos contenedor */
        p {
            font-size: $text-sbase ;
            font-weight: bold;
            color: $col-alternate;
            text-align: center;
        }
    }

    /*clase bootsrap margin top boton ver galeria*/
    .justify-content-md-center {
        margin-top: $space-small;
    }
}



/*estilos  grid subgaleria1 debe ser scope global*/
.proyectos__subgaleria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    column-gap: $space-small;
    row-gap: $space-small;
    padding: $space-small;

    img {
        object-fit: cover;
    }
}

/*contenedor subgaleria2 proyectos*/
.proyectos__subgaleria-2 {
    @extend .proyectos__subgaleria;
    grid-template-rows: repeat(1, 1fr);
}

/*estilos boton */
.btn__galeria {
    background-color: $col-primary ;

    /*texto boton*/
    p {
        font-size: $text-small-button;
        font-weight: 600;
        color: $col-alternate;
    }
}

/*hover boton*/
.btn__galeria:hover {

    p {
        color: $col-primary;
        font-weight: bold;
    }

}

/*contenedor titulo modal de galeria*/
.titulo__modal-galeria {

    /*estilos titulo modal*/
    h2 {
        color: $col-primary;
        font-size: $text-xmedium;
        font-weight: bold;
    }

}

//fin modal principal

//inicio submodal
/*contenedor de cada imegen de la submodal */
.proyectos__subgaleria--modal {
    border: solid $col-primary $space-border-bottom;
    border-radius: $space-xxsmall;
}

/*contenedor de img  submodal imagen individual de galerias*/
.ventana__modal //.active (esta clase despliega abajo la img al evento click)

    {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $col-alternate-modal;
    // width: 90%;
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    // transition: transform 0.5s ease;
    gap:1rem;
    overflow: auto;

    /*size img dentro de la modal*/
    img{
        width: 95%;
    }
}

/*clase boostrap estilos boton cerrar de cada img galeria*/
.btn-close {
    font-size: $space-small;
    background-color: $col-primary ;
}

/*clase boton subgaleria para js*/
.hidden {
    display: none;
}