/*Contenedor general seccion1 servicios*/
.container__servicios {
    @extend .container__nosotros;
    

    /*contenedor img y h1*/
    .container__servicios--img1 {
        justify-content: center;
        background-image: url(../recursos/seccion_servicios/seccion_serivicios_1.jpg);
        @extend .container__img1;
    }
}

/*seccion cards*/
/*contenedor grid cards*/
.servicios__galeria--grid {
    @extend .proyectos__subgaleria;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: $space-small;

    /*clase boostrap size img de card*/
    .card {
        background-color: $col-alternate2;

        /*size imgs de galeria*/
        img {
            // width: $space-card;
            height: $space-card;
        }

        /*parrafos contenedor */
        p {
            font-size: $text-sbase ;
            font-weight: bold;
            color: $col-alternate;
            text-align: center;
            padding: $space-small 0 $space-small 0;
        }
    }

    /*clase en las cards para acomodarlo en el grid*/
    .servicios__galeria--grid1:nth-of-type(7) {
        grid-column: 2/3;
    }
}