/**************FOOTER**************/

/*estilos footer*/
.footer__section {
    @include flex1(row, center, center, wrap);
    background-color: $col-primary;

    /*size img footer*/
    & img {
        width: 60%;
    }

    /*flex container logo-copy*/
    .footer__container {
        @include flex1(column, center, center, none);
        margin: $space-xsmall 0 $space-xsmall 0;

        .footer__container-logo {
            margin-bottom: $space-ssmall;
        }

        & a {
            text-align: center;
        }
    }

    /*container redes*/
    .footer__container-2 {
        @include flex1(column, center, center, none);

        .footer__container-redes {
            color: $col-secondary;
            @include flex1(column, center, center, none);

            /*size img mail-what*/
            & img {
                width: $space-medium;
            }

            /*contenedor del texto  mail-whatsapp centrar p*/
            .footer__container-mail {
                @include flex1(column, center, center, none);
                width: 50%;

                /*size texto mail-what*/
                & p {
                    font-size: $text-base;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

                }

                /*color textos mail-what*/
                & a {
                    color: $col-secondary;
                    font-weight: 900;
                }
            }
        }
    }

    /*ancho de los div*/
    div {
        width: 33%;
    }

    /*estilos contactanos boton ocupa ancho total de su div*/
    .footer__container-button {
        @extend.footer__container;
        align-items: stretch;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        /*estilos tipo de letra boton*/
        button {
            font-size: $text-sbase;
        }
    }
}



/*contenedor general del header y del boton cerrar superior de la modal color footer modal*/
.modal__titulo-color {
    background-color: $col-alternate2;

    /* contenedor del p del header modal*/
    //estilos del titulo de la modal
    .modal__titulo {

        @include flex1(column, center, center, none);

        /* titulo de la modal*/
        p {
            color: $col-alternate;
            text-align: center;
            font-size: $text-small-button;
            position: relative;
            left: $space-xsuper;
            font-weight: bold;
        }
    }
}


/*clase en boton enviar del form de la modal footer*/
.boton__modal-footer {
    @extend .boton;
    background-color: $col-primary !important;
    color: white !important;
}

.boton__modal-footer:hover {
    background-color: $col-secondary !important;
    color: $col-primary !important;
}

/*clase contenedor body de la modal*/
.modal__cuerpo{
    background-color: $col-alternate1;
}