/**************HEADER**************/

// .header{
//     padding-bottom: $space-xxxlarge;
    
// }

/*color fondo nav, position*/
.navbar {
    background-color: $col-primary;
    padding: 0px ;
    position: fixed;
    z-index: 2;


    /* size fuente nav*/
    .navbar-nav {

        margin-left: $space-ssmall;
        @include flex1(row, none, none, none);

        a {
            font-size: $text-base;
            font-weight: bold;
            margin: 0rem $space-medium 0rem 0rem;
        }

        /*nav-link clase boostrap de cada link del menu*/
        .nav-link:hover {
            color: $col-secondary ;
        }

        .nav-link:active {
           color:$col-alternate-modal;
        }

    }

    /*margenes contenedor logo prop clip-path da forma de punta al contenedor*/
    .container {
        background-color: $col-secondary;
        margin: 0px 0px 0px;
        width: 40%;
        justify-content: center;
        clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
        // border-radius: 50% 50% 50% 50% / 0% 50% 50% 0%;

        /*size contenedor img logo*/
        img {
            padding: $space-medium;
            width: 65%;
        }
    }
}


