/********************utilidades_funciones*********************/
@mixin flex1 ($direction, $justify, $aling, $wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aling;
    flex-wrap: $wrap;
}

@mixin flex () {
    display: flex;
}

@mixin centrar-elemento {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  