/***** @ mediaquieries*****/

/**** mobil_xsmall**/
@media screen and (min-width: 1px) and (max-width: 400px) {

    /*****header******/

    /*sacar pading de header*/
    .header {
        padding-bottom: 0;
    }

    /*dejar fijo navbar */
    .navbar {
        position: fixed;
        z-index: 2;

        /*size contenedor logo*/
        .container {
            img {
                width: 100%;
                transform: scale(2);
            }
        }

        /*quitar borde iconolmenu*/
        .navbar-toggler {
            border: none;
        }

        /*quitar borde al dar clic en menu*/
        .navbar-toggler:focus {
            box-shadow: none;
        }

        .navbar-nav {
            flex-direction: column;
            align-items: flex-start;

            a {
                font-size: $text-small;
            }
        }
    }


    /******main******/
    /*parrafo 1 inicio-nosotros*/
    .container__img1 {
        h1 {
            padding: $space-small;
            margin: 0;
            font-size: $text-sbase;
        }
    }

    /*posicionar elementos inicio nosotros*/
    .contaniner__inicio-nosotros {
        flex-direction: column-reverse;

        /*posicionar imagen 1 inicio nosotros*/
        img {
            right: 0;
        }

        /*dar ancho normal al contenedor inicio-nosotros*/
        .container__article {
            width: 100%;
            margin-left: 0;

            /*estitlos de titulos h2*/
            h2 {
                width: 80%;
                font-size: $text-medium;
                text-align: center;
                padding: 2rem 0 2rem 0;
            }

            /*size parrafos*/
            p {
                font-size: $text-sbase;
                padding: $space-small 0 $space-small 0;
            }
        }
    }

    /*posicionar elementos mision vision valores*/
    .container__inicio-mision {
        flex-direction: column;
    }

    /*posicionar elemntos inicio-servicios*/

    .container__inicio--servicios {

        flex-direction: column;
        row-gap: $space-smedium;
    }

    /*titulos grandes proyectos-servicios de inicio*/
    .container__title {

        /*size de los h2*/
        h2 {
            font-size: $text-large;
        }
    }

    /**SECCION-NOSOTROS**/

    /*contenedor del h1 nosotros*/
    .container__nosotros--img1 {

        h1 {
            padding: $space-large 0 $space-large 0 !important;
        }
    }

    /*contenedor imagen mision vision*/
    .nosotros__mision-vision {

        /*imagen mision y vision*/
        img {
            left: 0rem !important;
        }
    }

    /*contenedor general svg nuestros valores*/
    .section__svg-valores {
        flex-direction: column;
    }

    /*SECCION PROYECTOS**/

    /*contenedor h1 proyectos */
    //trae los demas padig  por extend
    .container__proyectos--img1 {
        padding: 0 0 $space-margin-article 0;
    }

    /*contenedor general de cards que contienen galerias*/
    .proyectos__galeria {
        flex-direction: column;
        padding: $space-small;

        /*boton ver galeria*/
        .btn__galeria {
            margin-bottom: $space-padig-gallery;
        }

        /*clase de subgaleria1 y 3*/
        .proyectos__subgaleria {
            display: flex;
            flex-direction: column;
        }

        /*clase de subgaleria2*/
        .proyectos__subgaleria-2 {
            display: flex;
            flex-direction: column;
        }
    }

    /*SECCION SERVICIOS*/

    /*seccion img1 h1 servicios*/
    .container__servicios--img1 {

        /*h1 servicios*/
        h1 {
            padding: $space-xxxlarge 0 $space-medium 0 !important;
        }
    }

    /*seccion cards servicios*/
    /*contenedor grid cards*/
    .servicios__galeria--grid {
        @include flex1(column, center, center, none);
    }

    /******footer****/
    /*orientacion del footer*/
    .footer__section {
        flex-direction: column-reverse;

        /*ancho del logo*/
        & img {
            width: 100%;
        }

        .footer__container-redes {
            align-items: flex-start !important;

            /*size textos mail-what*/
            .footer__container-mail {

                p {
                    font-size: $text-small !important;
                }
            }
        }

        /*reducir letra del boton contactanos*/
        .footer__container-button {

            /*boton contactanos*/
            button {
                font-size: $text-small-button;
            }
        }
    }

    /**SECCION-CONTACTO**/

    /***main***/
    /*contenedores generales mail whatsapp textos*/
    .contacto__mail-whatsapp {
        @include flex1(column, center, center, none);

        /*textos de email y numero tel*/
        p {
            font-size: $text-sbase
        }
    }

    /*contenedor de textos del formulario*/
    .textos__formulario {

        h2 {
            font-size: $space-margin-article !important;
            text-align: center;
        }

        p {
            text-align: center;
        }
    }

    /*reducir ancho de imputs*/
    .imput {
        width: 30rem !important;
    }

    .boton {
        background-color: $col-primary !important;
        color: $col-secondary !important;
    }

    /**footer***/
    .modal__titulo-color {
        .modal__titulo {
            p {
                position: relative;
                left: 0;
            }
        }
    }
}

/*mobil small*/
@media screen and (min-width: 401px) and (max-width: 576px) {

    /*****header******/

    /*sacar pading de header*/
    .header {
        padding-bottom: 0;
    }

    /*dejar fijo navbar */
    .navbar {
        position: fixed;
        z-index: 2;

        /*size contenedor logo*/
        .container {
            img {
                width: $space-logo576px;
            }
        }

        /*quitar borde iconolmenu*/
        .navbar-toggler {
            border: none;
        }

        /*quitar borde al dar clic en menu*/
        .navbar-toggler:focus {
            box-shadow: none;
        }

        .navbar-nav {
            flex-direction: column;
            align-items: flex-start;

            a {
                font-size: $text-small;
            }
        }
    }


    /******main******/

    /*parrafo 1 inicio-nosotros*/
    .container__img1 {
        h1 {
            padding: $space-large $space-small $space-small $space-small;
            margin: 0;
            font-size: $text-xmedium;
        }
    }

    /*posicionar elementos inicio nosotros*/
    .contaniner__inicio-nosotros {
        flex-direction: column-reverse;

        /*posicionar imagen 1 inicio nosotros*/
        img {
            right: 0;
        }

        /*dar ancho normal al contenedor inicio-nosotros*/
        .container__article {
            width: 100%;
            margin-left: 0;

            /*estitlos de titulos h2*/
            h2 {
                width: 80%;
                font-size: $text-medium;
                text-align: center;
                padding: $space-small 0 $space-small 0;
            }

            /*size parrafos*/
            p {
                font-size: $text-sbase;
                padding: $space-small 0 $space-small 0;
            }
        }
    }

    /*posicionar elementos mision vision valores*/
    .container__inicio-mision {
        flex-direction: column;
    }

    /*posicionar elemntos inicio-servicios*/

    .container__inicio--servicios {

        flex-direction: column;
        row-gap: $space-smedium;
    }

    /**SECCION-NOSOTROS**/

    /*contenedor del h1 nosotros*/
    .container__nosotros--img1 {

        h1 {
            padding: $space-xxlarge 0 $space-xxlarge 0 !important;
        }
    }

    /*contenedor imagen mision vision*/
    .nosotros__mision-vision {

        /*imagen mision y vision*/
        img {
            left: 0rem !important;
        }
    }

    /*contenedor general svg nuestros valores*/
    .section__svg-valores {
        flex-direction: column;
    }

    /*SECCION PROYECTOS**/

    /*contenedor h1 proyectos */
    //trae los demas padig  por extend
    .container__proyectos--img1 {
        padding: 0 0 $space-margin-article 0;
    }

    /*contenedor galeria general de cards que contienen galerias*/
    .proyectos__galeria {
        flex-direction: column;
        padding: $space-small;

        /*boton ver galeria*/
        .btn__galeria {
            margin-bottom: $space-padig-gallery;
        }

        /*clase de subgaleria1 y 3*/
        .proyectos__subgaleria {
            display: flex;
            flex-direction: column;
        }

        /*clase de subgaleria2*/
        .proyectos__subgaleria-2 {
            display: flex;
            flex-direction: column;
        }
    }

    /*SECCION SERVICIOS*/

    /*seccion img1 h1 servicios*/
    .container__servicios--img1 {

        /*h1 servicios*/
        h1 {
            padding: $space-logo576px 0 $space-medium 0 !important;
        }
    }

    /*seccion cards servicios*/
    /*contenedor grid cards*/
    .servicios__galeria--grid {
        @include flex1(column, center, center, none);
    }

    /**SECCION-CONTACTO**/

    /***main***/
    /*contenedores generales mail whatsapp textos*/
    .contacto__mail-whatsapp {
        @include flex1(column, center, center, none);

        /*textos de email y numero tel*/
        p {
            font-size: $text-sbase
        }
    }

    /*contenedor de textos del formulario*/
    .textos__formulario {

        h2 {
            font-size: $space-margin-article !important;
            text-align: center;
        }

        p {
            text-align: center;
        }
    }

    /*reducir ancho de imputs*/
    .imput {
        width: $space-super !important;
    }

    .boton {
        background-color: $col-primary !important;
        color: $col-secondary !important;
    }

    /******footer****/
    /*orientacion del footer*/
    .footer__section {
        flex-direction: column-reverse;
        row-gap: $space-ssmall;

        /*ancho del logo*/
        & img {
            width: 100%;
        }

        .footer__container-redes {
            align-items: flex-start !important;

            /*size textos mail-what*/
            .footer__container-mail {

                p {
                    font-size: $text-small !important;
                }
            }
        }

        /*reducir letra del boton contactanos*/
        .footer__container-button {

            /*boton contactanos*/
            button {
                font-size: $text-small-button;
            }
        }
    }

    /**footer***/
    .modal__titulo-color {
        .modal__titulo {
            p {
                position: relative;
                left: 4rem;
            }
        }
    }
}

/****mobil medium****/
@media screen and (min-width: 577px) and (max-width: 768px) {

    /*****header******/

    /*sacar pading de header*/
    .header {
        padding-bottom: 0;
    }

    /*dejar fijo navbar */
    .navbar {
        position: fixed;
        z-index: 2;

        /*size contenedor logo*/
        .container {
            img {
                width: 100%;

            }
        }

        /*quitar borde iconolmenu*/
        .navbar-toggler {
            border: none;
        }

        /*quitar borde al dar clic en menu*/
        .navbar-toggler:focus {
            box-shadow: none;
        }

        .navbar-nav {
            flex-direction: column;
            align-items: flex-start;

            a {
                font-size: $text-small;
            }
        }
    }


    /******main******/

    /*parrafo 1 inicio-nosotros*/
    .container__img1 {
        h1 {
            padding: $space-xxlarge $space-xlarge $space-margin-article $space-xlarge;
            margin: 0;
            font-size: $text-xmedium;
        }
    }

    /*posicionar elementos inicio nosotros*/
    .contaniner__inicio-nosotros {
        flex-direction: column-reverse;

        /*posicionar imagen 1 inicio nosotros*/
        img {
            right: 0;
        }

        /*dar ancho normal al contenedor inicio-nosotros*/
        .container__article {
            width: 100%;
            margin-left: 0;

            /*estitlos de titulos h2*/
            h2 {
                width: 80%;
                font-size: $text-medium;
                text-align: center;
                padding: $space-small 0 $space-small 0;
            }

            /*size parrafos*/
            p {
                font-size: $text-sbase;
                padding: $space-small 0 $space-small 0;
            }
        }

    }

    /*posicionar elementos mision vision valores*/
    .container__inicio-mision {
        flex-direction: column;
    }

    /*posicionar elemntos inicio-servicios*/
    .container__inicio--servicios {

        flex-direction: column;
        row-gap: $space-large;

        h3 {
            font-size: $text-medium;
        }
    }

    /**SECCION-NOSOTROS**/

    /*contenedor del h1 nosotros*/
    .container__nosotros--img1 {

        h1 {
            padding: $space-xxlarge 0 $space-xxlarge 0 !important;
        }
    }

    /*contenedor imagen mision vision*/
    .nosotros__mision-vision {

        /*imagen mision y vision*/
        img {
            left: 0rem !important;
        }
    }

    /*contenedor general svg nuestros valores*/
    .section__svg-valores {
        flex-direction: column;
    }

    /*SECCION PROYECTOS*/

    /*contenedor general de cards que contienen galerias*/
    .proyectos__galeria {
        flex-direction: column;
        padding: $space-medium;

        /*boton ver galeria*/
        .btn__galeria {
            margin-bottom: $space-padig-gallery;
        }

        /*clase de subgaleria1 y 3*/
        .proyectos__subgaleria {
            display: flex;
            flex-direction: column;
        }

        /*clase de subgaleria2*/
        .proyectos__subgaleria-2 {
            display: flex;
            flex-direction: column;
        }
    }

    /*SECCION SERVICIOS*/

    /*seccion img1 h1 servicios*/
    .container__servicios--img1 {

        /*h1 servicios*/
        h1 {
            padding: $space-xxxlarge 0 $space-xxlarge 0 !important;
        }
    }

    /*contenedor grid cards*/
    .servicios__galeria--grid {
        grid-template-columns: repeat(2, 1fr);

        /*clase en las cards para acomodarlo en el grid*/
        .servicios__galeria--grid1:nth-of-type(7) {
            grid-column: 1/3;
        }
    }

    /***SECCION CONTACTO***/
    /*contenedor de textos del formulario*/
    .textos__formulario {

        h2 {
            text-align: center;
        }

        p {
            text-align: center;
        }
    }

    /******footer****/
    /*orientacion del footer*/
    .footer__section {
        flex-direction: column-reverse;
        row-gap: $space-ssmall;

        /*ancho del logo*/
        & img {
            width: 100%;
        }

        .footer__container-redes {
            align-items: flex-start !important;

            /*size textos mail-what*/
            .footer__container-mail {

                p {
                    font-size: $text-base !important;
                }
            }
        }

        /*reducir letra del boton contactanos*/
        .footer__container-button {

            /*boton contactanos*/
            button {
                font-size: $text-base;
            }
        }
    }
    
    /*reducir ancho de imputs*/
    .imput {
        width: $space-super !important;
    }

    /**modal formulario boton contactanos***/
    .modal__titulo-color {
        .modal__titulo {
            p {
                position: relative;
                left: 4rem;
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 991px) {

    /***header***/

    /*sacar pading de header*/
    .header {
        padding-bottom: 0;
    }

    /*quitar borde iconolmenu*/
    .navbar-toggler {
        border: none;
    }

    /*quitar borde al dar clic en menu*/
    .navbar-toggler:focus {
        box-shadow: none;
    }

    /*posicionar elemntos inicio-servicios*/
    .container__inicio--servicios {

        flex-direction: column;
        row-gap: $space-large;
        margin-left: 10rem;

        /*size h3*/
        h3 {
            font-size: $text-medium;
        }

        img {
            width: 50%;
            margin-left: 20rem;
        }
    }

    /**main**/
    /*posicionar elementos inicio nosotros*/
    .contaniner__inicio-nosotros {
        flex-direction: column-reverse;

        /*posicionar imagen 1 inicio nosotros*/
        img {
            right: 0;
        }

        /*dar ancho normal al contenedor inicio-nosotros*/
        .container__article {
            width: 100%;
            margin-left: 0;

            /*estitlos de titulos h2*/
            h2 {
                width: 80%;
                font-size: $text-medium;
                text-align: center;
                padding: $space-small 0 $space-small 0;
            }

            /*size parrafos*/
            p {
                font-size: $text-sbase;
                padding: $space-small 0 $space-small 0;
            }
        }

    }

    /**SECCION-NOSOTROS**/

    /*contenedor del h1 nosotros*/
    .container__nosotros--img1 {

        h1 {
            padding: $space-xxlarge 0 $space-xxlarge 0 !important;
        }
    }

    /*contenedor imagen mision vision*/
    .nosotros__mision-vision {

        /*imagen mision y vision*/
        img {
            left: 0rem !important;
        }
    }

    /******footer****/
    /*orientacion del footer*/
    .footer__section {
        flex-direction: column-reverse;
        row-gap: $space-ssmall;

        /*ancho del logo*/
        & img {
            width: 100%;
        }

        .footer__container-redes {
            align-items: flex-start !important;

            /*size textos mail-what*/
            .footer__container-mail {

                p {
                    font-size: $text-base !important;
                }
            }
        }

    }

}

/**desktop_small**/
@media screen and (min-width: 992px) and (max-width: 1200px) {

    /**header**/

    /*clase header*/
    .header {

        /* size fuente nav a*/
        .navbar-nav {
            a {
                margin: 0rem $space-ssmall 0rem 0rem;
            }
        }

        /*contenedor img logo*/
        .container {

            /*logo img*/
            img {
                width: $space-logo992px;
            }
        }
    }

    // .navbar-nav {
    //     flex-wrap: wrap;
    // }

    /***main**/
    /*espacio interno contenedor color-rosa*/
    .container__article-texto {
        margin: $space-margin-article 0 $space-margin-article 0;
    }
}

/*desktop */
@media screen and (min-width: 1201px) {

    /***main**/
    /*espacio interno contenedor color-rosa*/
    .container__article-texto {
        margin: $space-margin-article 0 $space-margin-article 0;
    }
}