/*******************utilidades_variables*********************/
/*colors*/
$col-primary: #be4e04;
$col-secondary: white;
$col-alternate: #000000;
$col-alternate1: #fddddd;

/*spacings*/
$space-super: 37rem;
$space-xsuper: 20rem;
$space-logo576px: 19rem;
$space-xxxlarge: 15rem;
$space-xxlarge: 10rem;
$space-xlarge: 7rem;
$space-large: 6rem;
$space-margin-article: 4rem;
$space-medium: 3.7rem;
$space-smedium: 2.3rem;
$space-small: 2rem;
$space-ssmall: 1.5rem;
$space-xsmall: 1rem;
$space-xxsmall: .5rem;
$space-border-bottom: 2px;
$space-xtrasmall: .4rem;

/*font-sizes*/
$text-xxlarge: 8em;
$text-xlarge: 7em;
$text-large: 6em;
$text-medium: 4em;
$text-xmedium:3.5em;
$text-base: 2.8em;
$text-sbase: 2.3em;
$text-small: 2em;
$text-small-button: 1.7em;
$text-xsmall: 1em;