/*******************utilidades_variables*********************/
/*colors*/
$col-primary: #eb5f07;
$col-secondary: white;
$col-alternate: #000000;
$col-alternate-modal:rgba(0,0,0,.7);
$col-alternate1: #fddddd;
$col-alternate2: #feb89f;

/*spacings*/
$space-card: 300px;
$space-imput:50rem;
$space-super: 37rem;
$space-xsuper: 20rem;
$space-logo992px: 23rem;
$space-logo576px: 18em;
$space-xxxlarge: 15rem;
$space-xxlarge: 2.5em;
$space-padig-gallery1:8rem;
$space-xlarge: 7rem;
$space-large: 6rem;
$space-padig-gallery: 5rem;
$space-margin-article: 4rem;
$space-medium: 3.7rem;
$space-smedium: 2.3rem;
$space-small: 2rem;
$space-ssmall: 1.5rem;
$space-xsmall: .8rem;
$space-xxsmall: .5rem;
$space-border-bottom: 2px;
$space-xtrasmall: .4rem;

/*font-sizes*/
$text-xxlarge: 4.5em;
$text-xlarge: 7em;
$text-large: 4.1em;
$text-medium: 3.3em;
$text-xmedium:3.5em;
$text-base: 2.1em;
$text-sbase: 1.5em;
$text-small: 2em;
$text-small-button: 1.5em;
$text-xsmall: 1em;